<ul>
    <li>
        Basic layer runs on <a href="http://localhost:8000">http://localhost:8000</a>.
    </li>
    <li>
       Web layer runs on <a href="http://localhost:8001">http://localhost:8001</a>.
    </li>
</ul>

<p>Some links to illustrate templates and static resources in layers.</p>

Basic.
<ul>
    <li>
        <a href="http://localhost:8000/foo">http://localhost:8000/foo/</a>.
    </li>
    <li>
       <a href="http://localhost:8000/bar">http://localhost:8000/bar/</a>.
    </li>
    <li>
       <a href="http://localhost:8000/admin">http://localhost:8000/admin/</a>.
    </li>
    <li>
       <a href="http://localhost:8000/static/example/foo.css">http://localhost:8000/static/example/foo.css</a>.
    </li>
    <li>
       <a href="http://localhost:8000/static/example/bar.css">http://localhost:8000/static/example/bar.css</a>.
    </li>
</ul>

Web. All <i>bar</i> URLs are custom for this layer, as well as <i>/admin</i>.
<ul>
    <li>
        <a href="http://localhost:8001/foo">http://localhost:8001/foo/</a>.
    </li>
    <li>
       <a href="http://localhost:8001/bar">http://localhost:8001/bar/</a>.
    </li>
    <li>
       <a href="http://localhost:8001/admin">http://localhost:8001/admin/</a>.
    </li>
    <li>
       <a href="http://localhost:8001/static/example/foo.css">http://localhost:8001/static/example/foo.css</a>.
    </li>
    <li>
       <a href="http://localhost:8001/static/example/bar.css">http://localhost:8001/static/example/bar.css</a>.
    </li>
</ul>

